body {
    background-color: antiquewhite;
    max-width: 700px;
    text-align: center;
    margin: auto;
}

p{
    display: table;
}

button{
    padding: 6px;
    margin: 3px;
}

section, div {
    padding: 15px;
    border: solid 1px black;
    margin: 5px;
}

td{
    display: table;
}

table {
    border: solid 1px black;
}

#data2{
    display: none;
}